html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: rgb(32, 28, 68);
}

#ui {
  display: flex;
  text-align: center;
  margin: 30px;
  gap: 20px;
}

h1 {
  text-align: center;
  display: inline;
  color: white;
  margin: 0;
}

button {
}

#container {
  display: flex;
  flex-wrap: wrap;
  height: 800px;
  width: 800px;
  margin: auto;
  border: solid 2px white;
}
